<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<div>
  <button class="button" (click)="add()">Add</button>
  <button class="button" (click)="remove()" [disabled]="!hasItems()">Remove</button>
</div>
<div *ngIf="intervals" class="intervals">
  <li *ngFor="let interval of intervals" 
  [class.selected]="interval === selectedTimeinterval"
  (click)="onSelect(interval)">
    <span class="badge">{{interval.name}}</span> 
    {{ interval.dateStart | date:shortDate }} <br/>
    {{ interval.dateEnd | date:shortDate }}
</div>

<time-interval-detail [interval]="selectedTimeinterval"></time-interval-detail>
